.container {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.border {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding-top: 10px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  visibility: hidden;
}

.base {
  position: absolute;
  right: 0;
  left: 0;
  background-color: red;
  height: calc(148px * 4);
  width: calc(90px * 4);
  border-radius: 20px 20px 60px 20px;
  font-size: 20px;
  margin: auto;
  -moz-box-shadow:    inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow:         inset 0 0 20px #000000;
}

/*@media screen and ( min-height: 600px) and ( max-height: 750px ) {
  .base {
    height: calc(148px * 5);
    width: calc(90px * 5);
  }
}

@media screen and ( min-height: 751px ) and ( max-height: 890px ) {
  .base {
    height: calc(148px * 6);
    width: calc(90px * 6);
  }
}

@media screen and ( min-height: 891px ) {
  .base {
    height: calc(148px * 7);
    width: calc(90px * 7);
  }
}*/


@media screen and (max-width: 415px) {
  .base {
    margin: auto;
    background-color: green;
    height: calc(95%);
    width: calc(100%);
    font-size: 20px;
    border-radius: 1em 1em 4em 1em;
  }
}

.screen-outer {
  text-align: center;
  background-color: #494949;
  margin: auto;
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  width: 86%;
  height: 53%;
  border-radius: 5px;
}

.screen-inner {
  position: absolute;
  top: -5%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 78%;
  height: 86%;
  background-color: #b7b28f;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.power-switch-base {
  position: absolute;
  top: 0;
  left: 6%;
  width: 15%;
  height: 3%;
  border-radius: 0px 0px 5px 5px;
  background-color: transparent; /* put this behind later */
  text-align: center;
}

.power-switch {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -30%;
  width: 50%;
  height: 30%;
  background-color: #494949;
  border-radius: 5px 5px 0px 0px;
}

.power-switch.off {
  right: 0;
}

.power-switch.on {
  left: 0;
}

.power-light {
  position: absolute;
  top: 25%;
  left: 3%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.power-light.off {
  background-color: gray;
}

.power-light.on {
  background-color: red;
}

.gameboy-logo {
  font-weight: 300;
  font-style: italic;
  display: inline-block;
  border-color: 1px solid black;
  color: #b7b28f;
  position: absolute;
  bottom: 2%;
  left: 12%;
  width: auto;
  font-size: 12px;
}

@media screen and (max-width: 415px) {
  .gameboy-logo {
    font-size: 1rem;
  }
}

.d-pad {
  position: absolute;
  left: 6%;
  bottom: 15%;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 330px) {
  .d-pad {
    height: 7rem;
    width: 7rem;
  }
}

@media screen and (min-width: 380px) and (max-width: 420px) {
  .d-pad {
    height: 9rem;
    width: 9rem;
  }
}

.d-pad-row {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  height: 33%;
  width: auto;
}

.d-pad-row > span {
  height: 100%;
  width: 33%;
  display: inline-block;
}

.d-pad-row > span > button {
  height: 100%;
  width: 100%;
  background-color: #585656;
}

.d-pad-row > span > button.clicked {
  background-color: #3c3838;
}

button#center {
  border: 1px solid #585656;
}

button#left {
  border-radius: 7px 0 0 7px;
  border-right: none;
}

button#up {
  border-radius: 7px 7px 0 0;
  border-bottom: none;
}

button#right {
  border-radius: 0 7px 7px 0;
  border-left: none;
}

button#down {
  border-radius: 0 0 7px 7px
  border: none;
  border-top: 1px solid #585656;
}

.buttons-a-b {
  width: 7rem;
  height: 5rem;
  position: absolute;
  right: 10%;
  bottom: 22%;
}

.buttons-a-b > button {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 20px;
  background-color: #585656;
  text-align: center;
}

.buttons-a-b > button > label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70%;
  font-family: Arial;
  color: #544d4d;
}

#a-button {
  position: absolute;
  top: 0;
  right: 0;
}

#b-button {
  position: absolute;
  left: 0;
  bottom: 0;
}

.buttons-SS {
  width: 100%;
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.buttons-SS > .buttons-SS-row > button {
  font-size: 20px;
  background-color: #585656;
  width: 3rem;
  border-radius: 5px;
  height: 1rem;
  margin: 0 20px 0 20px;
}

.buttons-SS > .buttons-SS-row > label {
  font-family: Arial;
  color: #544d4d;
  width: 3em;
  font-size: 12px;
  margin: 0 18px 0 18px;
}

#select-label {
  padding-right: 10px;
}

.speakers {
  height: 4rem;
  width: 4rem;
  position: absolute;
  right: 5%;
  bottom: 5%;
  border-radius: 50%;
  background-size: 3px 3px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.speakers-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3px auto;
}

.hole {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #313030;
  float: right;
  margin: 0 1px;
}

@media screen and (max-width: 330px) {
  .speakers {
    height: 3rem;
    width: 3rem;
    bottom: 7%;
  }

  .hole {
    height: 5px;
    width: 5px;
  }
}

.board-container {
  position: absolute;
  left: 15%;
  top: 3%;
  height: 240px;
  width: 120px;
}

@media screen and (min-width: 400px) and (max-width: 420px) {
  .board-container {
    height: 280px;
    width: 140px;
  }
}

@media screen and (max-width: 330px) {
  .board-container {
    height: 220px;
    width: 100px;
  }
}

@media screen and (min-width: 370px) and (max-width: 400px){
  .board-container {
    top: 6%;
  }
}

.board {
  height: 100%;
  width: 100%;
  border-spacing: 0;
}

tbody {
  font-size: 1px;
  padding: 0;
  margin: 0;
}

tbody > tr {
  padding: 0;
  margin: 0;
}

tbody > tr > td {
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: 1px solid #a09d86;
}

tbody > tr > td:after {
  content: "";
  clear: both;
  display: block;
}

.right-side {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
  right: 0;
  top: 1%;
  align-items: center;
  font-family: sans-serif;
}

.queue-container {
  height: 48px;
  width: 48px;
  margin-bottom: 60%;
}

.queue {
  height: 100%;
  width: 100%;
  border-spacing: 0;
}

/*.queue > tbody > tr > td {
  outline: none
}*/

.queue-container > label {
  font-size: 13px;
  font-weight: bold;
}

@media screen and (min-width: 400px) and (max-width: 420px) {
  .queue-container {
    height: 56px;
    width: 56px;
    right: 3%;
  }
}

@media screen and (max-width: 330px) {
  .queue-container {
    height: 40px;
    width: 40px;
  }
}

.score-container {
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 25px;
}

@media screen and (max-width: 330px) {
  .score-container {
    right: 1%;
    bottom: 15%;
  }
}

.piece-i {
  background-color: red;
}
.piece-o {
  background-color: yellow;
}
.piece-j {
  background-color: green;
}
.piece-l {
  background-color: blue;
}
.piece-s {
  background-color: purple;
}
.piece-z {
  background-color: orange;
}
.piece-t {
  background-color: pink;
}
