/*@keyframes pullDown {
  0% { height: 0; width: calc(90px * 4); }
  100% { height: calc(148px * 4); width: calc(90px * 4); }
}

.base {
  -webkit-animation: pullDown 0.7s;
  -moz-animation: pullDown 0.7s;
  -ms-animation: pullDown 0.7s;
  -o-animation: pullDown 0.7s;
  animation: pullDown 0.7s;
}*/

@keyframes pulse {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

#start-screen, #pause-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.blink {
  -webkit-animation: pulse 1.0s infinite;
  -moz-animation: pulse 1.0s infinite;
  -ms-animation: pulse 1.0s infinite;
  -o-animation: pulse 1.0s infinite;
  animation: pulse 1.0s infinite;
}

#pause-screen.dim {
  background-color: rgba(109,107,91,0.5);
}
